.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.corpoComponente {
  position: fixed;
  top: 10%;
  width: 100%;
  height: 85%;
  background-color: dimgray;
  background-image: url('../src/img/sfondo.png');
  background-size: auto 110%;
  background-repeat: no-repeat;
  background-position: right;
}

.tombaJPG {
  height: 300px;  
}

a{
  color:#b30000
}

a:hover{
  font-weight: bold ;
  color:#910000
  
}

.btn-dark{
  color:#eeaa44;
  width: 100px;
  height: 40px;
  font-size: 15px;
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.5);
}

.btn-dark:hover{
  color:#c58b34;
  font-weight: bold ;
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.8);
  
}

.btn-group > .btn-dark-end{
  color:#eeaa44;
  width: 100px;
  height: 40px;
  font-size: 15px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border-radius: 0 5px 5px 0;
}
  
.input-group-text{
  color:#eeaa44;
  text-shadow: 1px 1px black;
  background-color: #282c34;
  border: 1px solid black
}

.form-control{
  border: 1px solid black;
  background-color: rgba(211, 211, 211, 0.568);
}

.form-control:focus{
	color:#212529;
	background-color:rgba(255, 255, 255, 0.699);
	border-color: #eeaa44;
	outline:0;
	box-shadow:0 0 0 .25rem rgba(238, 170, 68,.25)
}

.form-select:focus{
	color:#212529;
	background-color:rgba(255, 255, 255, 0.699);
	border-color: #eeaa44;
	outline:0;
	box-shadow:0 0 0 .25rem rgba(238, 170, 68,.25)
}

.form-control::placeholder{
	color:#6c757d;
	opacity:1;
  text-align: center;
}

.banner-gold{
  background-image: url('../src/img/pulsante_oro.png');
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  height: 50px;
  border: none
}

.btn-gold{
  background-image: url('../src/img/pulsante_oro.png');
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  height: 2em;
  width: 10em;
  font-size: 1.5em;
  border: none
}

.btn-gold:hover{
  cursor: pointer;
  font-weight: bold ;
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.8);
}

.btn-gold-disabled{
  background-image: url('../src/img/pulsante_oro.png');
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  font-weight: bold ;
  height: 50px;
  border: none;
}

.btn-gold-disabled:hover{
  cursor: no-drop;
}

.btn-immagine{
  display: initial;
}

.btn-immagine:hover{
  cursor: pointer;
}

.centrato{
  display: flex;
  justify-content: center; 
  flex-direction: column; 
  align-items: center
}

.navigazione-sezione{
  z-index: 1;
  position: relative; 
  top: 5%;
  left: 1%; 
  height: 85%; 
  width: 35%; 
  /* background-color: pink;  */
  float: left; 
  display: flex; 
  justify-content: center; 
  flex-direction: column; 
  align-items: center
}

.navigazione-area{
  position: relative;
  /* background-color: red;  */
  height: 100%;
}

.navigazione-immagine{
  position: absolute;
  left:5%;
  top:5%;
  height: 94%;
  width: 90%;
  background-color: transparent;
  background-position: center center; 
  background-repeat: no-repeat; 
  background-size: auto 90%
}

.navigazione-link{
  background-color: transparent;
  display: flex; 
  justify-content: center; 
  flex-direction: column; 
  align-items: center;
  position: absolute
}

.icona-alta{
  width: 85%;
}

.icona-alta-disabled{
  width: 85%;
  filter: grayscale(100%);
}

.icona-alta:hover{
  cursor: pointer;
  width: 95%;
}

.icona-larga{
  height: 85%;
}

.icona-larga-disabled{
  height: 85%;
  filter: grayscale(100%);
}

.icona-larga:hover{
  cursor: pointer;
  height: 95%;
}

.icona-freccia-larga{
  width: 100%;
}

.icona-freccia-larga-disabled{
  width: 100%;
  filter: grayscale(100%);
}

.icona-freccia-larga:hover{
  cursor: pointer;
  width: 135%;
}


.icona-freccia-alta{
  height: 100%;
}

.icona-freccia-alta-disabled{
  height: 100%;
  filter: grayscale(100%);
}

.icona-freccia-alta:hover{
  cursor: pointer;
  height: 135%;
}

.chat-sezione{
  position: relative;
  top: 5%;
  right: 1%;
  height: 85%;
  width: 62%;
  background-color: transparent;
  float: right;
  display: flex; 
  justify-content: center; 
  flex-direction: column; 
  align-items: center
}

.ombra{
  box-shadow: 0px 16px 20px 0 rgba(0,0,0,1);
}

.griglia-macromappa{
  border: 0.001em solid rgba(0,0,0,0.5);

}

/* FONT------------------------------------------------------------ */

@font-face {
  font-family: 'Lombardia';
  src: url('./font/Lombardia.eot');
  src: url('./font/Lombardia.eot?#iefix') format('embedded-opentype'),
      url('./font/Lombardia.woff2') format('woff2'),
      url('./font/Lombardia.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-lombardia{
  font-family: 'Lombardia';
}

.font-lombardia-yellow{
  font-family: 'Lombardia';
  color: #eeaa44
}

/* FLIP BOX------------------------------------------------------------ */

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-image: url('../src/img/eracle.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: white;
  transform: rotateY(180deg);
}

/* DIV QUADRATO----------------------------------------------------------- */

.square-box {
	position: relative;
	width: 15%;
	overflow: hidden;
}
		
.square-box:before {
	content:"";
	display: block;
	padding-top: 100%;
}
		
.square-content {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
		
.square-content div {
	width: 100%;
	height: 100%;
}

.square-content span {
	color: white;
}

/* CARD------------------------------------------------------------ */

.card-immagine-personaggio{
  z-index: 8;
  position: absolute;
  width: 100%;
  height: 99%;
  top: 1%;
  background-repeat: no-repeat;
  background-position: center center;
}

.card-immagine-cornice{
  z-index: 9;
  position: relative;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.card-posizione-pulsanti{
  position: absolute;
  bottom: 7%;
  width: 100%;
  height: auto;
}


/* LENTE DI INGRANDIMENTO----------------------------------------------- */
.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}

/* MODAL ---------------------------------------------------------------- */

.modal-50w{
  background-color: transparent;
  width: 50%;
  height: 90%;
}

.custom-modal-body {
  background: pink url('../src/img/eracle.png');
}


/* DIV TRASCINABILE------------------------------------------------------ */

.my-draggable {
  cursor: pointer;
  width: 200px;
  height: 200px;
  background-color: #cca;
}

/* CHAT ------------------------------------------------------------------*/

.chat {
  background-color: transparent;
  /* text-align: center; */
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-image: url('./img/libro.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top:5%
}

.chat main {
  padding: 5%;
  top: 5%;
  height: 93%;
  width: 50%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: #1e1e24;
}

::-webkit-scrollbar-thumb {
  background: #eeaa44;
}

.chat form {
  height: 75%;
  position: absolute;
  top: 20%;
  right:3%;
  width: 44%;
  display: flex;
  font-size: 1rem;
  align-items: flex-end;
}

.chat form button {
  width: 50%;
  height: 25%;
  position: relative;
}


.chat textarea {
  line-height: 1;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  background: transparent;
  color: black;
  outline: none;
  border-left: 1px solid rgba(0,0,0,0.2);
  border-right: none;
  border-top: none;
  border-bottom: none;
  padding: 0 2%;
}

textarea::-webkit-scrollbar {
  width: 0.25rem;
}

textarea::-webkit-scrollbar-track {
  background: #1e1e24;
}

textarea::-webkit-scrollbar-thumb {
  background: #eeaa44;
}


.chat button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
  background-color: transparent;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: transparent;
}



.chat ul, li {
  text-align: left;
  list-style: none;
}

.chat p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 0px;
  position: relative;
  color: black;
}

.message {
  display: flex;
  align-items: center;
}


.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: black;
  background: transparent;
  align-self: flex-end;
}

.received p {
  background: transparent;
  color: black;
}

.chat img {
  width: 40px;
  height: 40px;
  border-radius: 0%;
  margin: 2px 5px;
}

.sent p::first-letter {
	color:red;
  font-size: 2em
}

.received p::first-letter {
	color:red;
  font-size: 2em
}

/* CHAT ADMIN -------------------------------------------------------------------------*/
.chat-admin {
  background-color: transparent;
  /* text-align: center; */
  width: 100%;
  height: 90%;
  margin: 0 auto;
  background-image: url('./img/libro.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top:5%
}

.chat-admin main {
  padding: 5%;
  top: 5%;
  height: 93%;
  width: 50%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  background-color: transaprent;
}

.chat-admin form {
  height: 80%;
  position: relative;
  top: 5%;
  right:3%;
  width: 40%;
  display: flex;
  font-size: 1rem;
  align-items: flex-end;
}

.chat-admin form button {
  width: 50%;
  height: 25%;
  position: relative;
}


.chat-admin textarea {
  line-height: 1;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  background-color: transparent;
  color: black;
  outline: none;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 0 2%;
}


.chat-admin button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
  background-color: transparent;
}

.chat-admin ul, li {
  text-align: left;
  list-style: none;
}

.chat-admin p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 0px;
  position: relative;
  color: black;
}

/* FOOTER--------------------------------------------- */

.footer-setting{
  padding-top:0.2vh;
 
}

.footer-setting b {
  font-size: 2vmin
}

/* HEADER---------------------------------------------- */
.header-link{
  font-size: 2vh
}

/* SCHEDA UTENTE---------------------------------------------- */
.eracle-bg{
  background-image: url('../src/img/eracleCapovolto.png');
  background-position: center center; 
  background-repeat: no-repeat;
  background-size: 101% auto
}

.pulsantiera-utente{
  position: absolute;
  left: 2%;
  height: 80%;
  width: 23%;
}

.pulsantiera-utente-tasti{
  position: relative;
  overflow-y: auto;
  height: 40%;
  bottom: 0%;
}

.liste-master{
  z-index: 999;
  position: absolute;
  right: 5%;
  height: 80%;
  width: 70%
}

.btn-utente{
  margin-top: 5px;
  color: #eeaa44;
  width: 80%;
  height: 30px;
}

.btn-utente p{
  font-size: 1.5vh
}

.btn-utente-33{
  margin-top: 5px;
  color: #eeaa44;
  width: 33.33%;
  height: 30px;
}

.btn-utente-33 p{
  font-size: 1.1vh
}

.btn-utente-50{
  margin-top: 5px;
  color: #eeaa44;
  width: 50%;
  height: 30px;
}

.btn-utente-50 p{
  font-size: 0.8vh
}

.flip-box-coin {
  width: 17vmax;
  height: 17vmax;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.square-box-coin{
  width: 17vmax;
}

.btn-flip-box-back{
  padding: 0; 
  color: #eeaa44;
  width: 10vw;
  height: 3vw;
  font-size: 1vw 
}

.flip-box-back-interlinea{
  line-height: 2
}

.flip-box-back-u{
  font-size: 1.5vw
}

.flip-box-back-span{
  font-size: 1vw
}

/* MEDIA QUERIES------------------------------------------------------------------------------ */
@media screen and (max-width: 576px) {
  .pulsantiera-utente{
    left: 2%;
    height: 30%;
    width: 96%
  }

  .pulsantiera-utente-tasti{
    height: 30%;
    overflow-y:auto
  }

  .liste-master{
    position: absolute;
    bottom: 0%;
    left: 2%;
    height: 400px;
    width: 96%
  }

  .btn-utente{
    margin-top: 5px;
    color: #eeaa44;
    width: 80%;
    font-size: 2vh
  }
  
  .btn-utente-33{
    margin-top: 5px;
    color: #eeaa44;
    width: 33.33%;
    font-size: 1.2vh
  }
  
  .btn-utente-50{
    margin-top: 5px;
    color: #eeaa44;
    width: 50%;
    font-size: 1.2vh
  }
  
  .flip-box-coin {
    width: 100%;
    height: 100%;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }

  .square-box-coin{
    width: 150px;
    height: 150px;
  }

  .btn-flip-box-back{
    padding: 0; 
    color: #eeaa44;
    width: 28vw;
    height: 3vh;
    font-size: 1.5vh 
  }

  .flip-box-back-interlinea{
    line-height: 3
  }
  
  .flip-box-back-u{
    font-size: 1.5vh
  }
  
  .flip-box-back-span{
    font-size: 1.2vh
  }

  .btn-group{
    width: 300px;
  }

  /* FOOTER - MEDIA QUERIES--------------------------------------------- */

.footer-setting{
  padding-top:0.5%;
 
}

.footer-setting b {
  font-size: 2vw
}
}