.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.corpoComponente {
  position: fixed;
  top: 10%;
  width: 100%;
  height: 85%;
  background-color: dimgray;
  background-image: url('../src/img/sfondo.png');
  background-size: auto 110%;
  background-repeat: no-repeat;
  background-position: right;
}

.tombaJPG {
  height: 300px;  
}

a{
  color:#b30000
}

a:hover{
  font-weight: bold ;
  color:#910000
  
}

.btn-dark{
  color:#eeaa44;
  width: 100px;
  height: 40px;
  font-size: 15px;
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.5);
}

.btn-dark:hover{
  color:#c58b34;
  font-weight: bold ;
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.8);
  
}

.btn-group > .btn-dark-end{
  color:#eeaa44;
  width: 100px;
  height: 40px;
  font-size: 15px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border-radius: 0 5px 5px 0;
}
  
.input-group-text{
  color:#eeaa44;
  text-shadow: 1px 1px black;
  background-color: #282c34;
  border: 1px solid black
}

.form-control{
  border: 1px solid black;
  background-color: rgba(211, 211, 211, 0.568);
}

.form-control:focus{
	color:#212529;
	background-color:rgba(255, 255, 255, 0.699);
	border-color: #eeaa44;
	outline:0;
	box-shadow:0 0 0 .25rem rgba(238, 170, 68,.25)
}

.form-select:focus{
	color:#212529;
	background-color:rgba(255, 255, 255, 0.699);
	border-color: #eeaa44;
	outline:0;
	box-shadow:0 0 0 .25rem rgba(238, 170, 68,.25)
}

.form-control::placeholder{
	color:#6c757d;
	opacity:1;
  text-align: center;
}

.banner-gold{
  background-image: url('../src/img/pulsante_oro.png');
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  height: 50px;
  border: none
}

.btn-gold{
  background-image: url('../src/img/pulsante_oro.png');
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  height: 50px;
  border: none
}

.btn-gold:hover{
  cursor: pointer;
  font-weight: bold ;
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.8);
}

.btn-gold-disabled{
  background-image: url('../src/img/pulsante_oro.png');
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  font-weight: bold ;
  height: 50px;
  border: none;
}

.btn-gold-disabled:hover{
  cursor: no-drop;
}

div.centrato{
  display: flex;
  justify-content: center; 
  flex-direction: column; 
  align-items: center
}

.navigazione-sezione{
  z-index: 1;
  position: relative; 
  top: 5%;
  left: 1%; 
  height: 85%; 
  width: 35%; 
  /* background-color: pink;  */
  float: left; 
  display: flex; 
  justify-content: center; 
  flex-direction: column; 
  align-items: center
}

.navigazione-area{
  position: relative;
  /* background-color: red;  */
  height: 100%;
}

.navigazione-immagine{
  position: absolute;
  left:5%;
  top:5%;
  height: 94%;
  width: 90%;
  background-color: transparent;
  background-position: center center; 
  background-repeat: no-repeat; 
  background-size: auto 90%
}

.navigazione-link{
  background-color: transparent;
  display: flex; 
  justify-content: center; 
  flex-direction: column; 
  align-items: center;
  position: absolute
}

.icona-alta{
  width: 85%;
}

.icona-alta:hover{
  cursor: pointer;
  width: 95%;
}

.icona-larga{
  height: 85%;
}

.icona-larga:hover{
  cursor: pointer;
  height: 95%;
}

.icona-freccia-larga{
  width: 100%;
}

.icona-freccia-larga:hover{
  cursor: pointer;
  width: 135%;
}

.icona-freccia-alta{
  height: 100%;
}

.icona-freccia-alta:hover{
  cursor: pointer;
  height: 135%;
}

.chat-sezione{
  position: relative;
  top: 5%;
  right: 1%;
  height: 85%;
  width: 62%;
  background-color: green;
  float: right;
  display: flex; 
  justify-content: center; 
  flex-direction: column; 
  align-items: center
}

.ombra{
  box-shadow: 0px 16px 20px 0 rgba(0,0,0,1);
}

.griglia-macromappa{
  border: 1px solid black;
}

/* FONT------------------------------------------------------------ */

@font-face {
  font-family: 'Lombardia';
  src: url('./font/Lombardia.eot');
  src: url('./font/Lombardia.eot?#iefix') format('embedded-opentype'),
      url('./font/Lombardia.woff2') format('woff2'),
      url('./font/Lombardia.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-lombardia{
  font-family: 'Lombardia';
}

.font-lombardia-yellow{
  font-family: 'Lombardia';
  color: #eeaa44
}

/* FLIP BOX------------------------------------------------------------ */

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-image: url('../src/img/eracle.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: white;
  transform: rotateY(180deg);
}

/* DIV QUADRATO----------------------------------------------------------- */

.square-box {
	position: relative;
	width: 15%;
	overflow: hidden;
}
		
.square-box:before {
	content:"";
	display: block;
	padding-top: 100%;
}
		
.square-content {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
		
.square-content div {
	width: 100%;
	height: 100%;
}

.square-content span {
	color: white;
}

/* CARD------------------------------------------------------------ */

.card-immagine-personaggio{
  z-index: 9997;
  position: absolute;
  width: 100%;
  height: 99%;
  top: 1%;
  background-repeat: no-repeat;
  background-position: center center;
}

.card-immagine-cornice{
  z-index: 9998;
  position: relative;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.card-posizione-pulsanti{
  position: absolute;
  bottom: 7%;
  width: 100%;
  height: auto;
}


/* LENTE DI INGRANDIMENTO----------------------------------------------- */
.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}

/* MODAL ---------------------------------------------------------------- */

.modal-50w{
  background-color: transparent;
  width: 50%;
  height: 90%;
}

.custom-modal-body {
  background: pink url('../src/img/eracle.png');
}