@font-face {
    font-family: 'Cardinal';
    src: url('Cardinal.eot');
    src: url('Cardinal.eot?#iefix') format('embedded-opentype'),
        url('Cardinal.woff2') format('woff2'),
        url('Cardinal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

